PORT=3000
DATABASE_URL=postgres://usuario:password@localhost:5432/USALADB
JWT_SECRET=escribir_un_token_aleatorio
GOOGLE_CLIENT_ID=tu_id_de_google.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=tu_secreto_de_googlenpm run dev